*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(37, 40, 42);
}
.wrapper{   
    width: 70vw;
    height: 70vh;
    transform: translate(20% , 20%);
    position: relative;
}
#picsHere img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}
#picsHere img.visible{
    display: block;
}
/*.visible{
    display: block;
}*/
h1{
    display: none;
    color: yellow;
}
#picsHere{
    width: 80%;
    height: 100%;
  }
#right{
    width:20%;
    height: 100%;
    background-color: cadetblue;
}
#previous, #next {
    cursor: pointer;
    position: absolute;   
    color: rgb(255, 162, 23);
    font-weight: bold;
    font-size: 30px;  
    background-color: rgba(43, 41, 41, 0.591);
  }
  #previous{
    top: 50%;
    left: 0;
  }
  #next{
    top: 50%;
    right:0;
  }